// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "unhcrvariables";

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
// 4. Simplify colors map to include only UNHCR colors
// remove from colors map
$colors: map-remove($colors, "indigo", "purple", "pink", "orange", "teal", "cyan");

// Add to color map
$custom-colors: (
  "navy": $unhcr-navy
);
// Merge the color maps
$colors: map-merge($colors, $custom-colors);

// 5. Include all Bootstrap CSS
@import "../node_modules/bootstrap/scss/bootstrap";

// 6. Add additional custom code here
@import "unhcrcustom";
