/* mapbox-scrolly */
#map-1 {
	top:0;
	position: sticky;
	z-index: -5;
	height: 100vh;
  }

 #map-2 {
    top:0;
    position: sticky;
    z-index: -5;
    height: 100vh;
    }

  #features {
	padding-bottom: 10vh;
	padding-top: 10vh;
  }
  .hidden {
	visibility: hidden;
  }
  .centered {
	width: 44vw;
	margin: 0 auto;
  }
  .lefty {
	width: 33vw;
	margin-left: 5vw;
  }
  .righty {
	width: 33vw;
	margin-left: 62vw;
  }
  .fully {
	width: 100%;
	margin: auto;
  }
  .light {
	color: #444;
	background-color: #fafafa;
  }
  .dark {
	color: #fafafa;
	background-color: #444;
  }
  #features .mapstep {
	padding-bottom: 50vh;
	margin-bottom: 10vh;
	opacity: 0.9;
  }
  #features .mapstep h3 {
	  color: black;
  }
  #features .mapstep.active p {
	  opacity: 1;
  }
  #features  .mapstep .light {
	padding:  25px 30px;
  }
  #features .mapstep div p {
	line-height: 25px;
	font-size: 16px;
  }
  /* #features  .mapstep img {
	width: 100%;
  } */
  .light{
	box-shadow: 0 3px 14px 0 rgba(0, 0, 0, .14), 0 5px 5.5px 0 rgba(0, 0, 0, .12);
  }

.legend,
.legend h5 {
  font-size: .875rem;
}

.legend-category span {
  width: 1.5rem; 
  height: 1rem; 
  margin-right: .5rem; 
  display: inline-block; 
  vertical-align: text-top; 
  opacity: .7;
}

  @media (max-width: 992px) {
	.centered, .lefty, .righty, .fully {
		width: 90vw;
		margin: 0 auto;
	}
  }
  /* Fix issue on mobile browser where scroll breaks  */
  .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
  .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
	touch-action: unset;
  }

  .story-paragraph {
	  margin-top: 10px; 
  }