.grid path {
	stroke-width: 0;
	stroke: #333333;
  }
  .grid .tick line {
	stroke: #333333;
	stroke-width: 0.5px;
	stroke-opacity: 0.5;
  }

#scrolly {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
#scrolly>* {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
article {
	position: relative;
	padding: 10rem 1rem;
	max-width: 20rem;
}
figure {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	margin: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 0;
}
text.chart-title {
	font-size: 23px;
	font-weight: 700;
}
text.label {
	font-family: lato;
	font-size: 10px;
	fill: #666666;
}
text.chart-label {
	font-family: lato;
	fill: #666666;
}
text.chart-source {
	font-family: lato;
	fill: rgb(136, 136, 136);;
}
.tick text {
	font-family: lato;
	fill: #666666;
}
.chartStep {
	opacity: .8;
    height: 950px;
    margin-bottom: 150;
	margin-top: 400px;
}
.chartStep:last-child {
	margin-bottom: 0;
}
.chartStep h2{
    font-size: 2em;
	margin-bottom: 0;
    padding-bottom: 25px;
    line-height: .9em;
}
.chartStep h2, .chartStep p{
	background-color: #ffffff;
    padding: 15px;
    color: #CCCCCC;
}
.chartStep.is-active h2, .chartStep.is-active p{
    color: #01080D;
}
#intro {
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
}
#outro {
  height: 0em;
}

/* Styles for the overlay layout (initially hidden) */
@media (max-width: 992px) {
	#scrolly.overlay {
	  position: relative;
	  display: block;
	}
	article{
		margin: 0 auto;
	}
  }

 svg .annotation.callout.rect path.subject {
   fill: var(--annotation-context-color);
   stroke: none;
   stroke-dasharray: 2, 8;
 }

 /* treemap style */
  rect.parent,
  .grandparent rect {
	stroke-width: 1px;
	stroke: #fff;
  }

  .grandparent:hover rect {
	fill: grey;
  }
  .grandparent:hover text {
	fill: #fff;
  }

  .grandparent text {
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
  }

  .children rect.parent,
  .grandparent rect {
	cursor: pointer;
	stroke: #fff;
  }

  .children rect.child {
	opacity: 0;
	stroke: #fff;
  }
  .children:hover rect.child {
	opacity: 1;
	stroke-width: 0.5px;
  }
  .children:hover rect.parent {
	opacity: 0;
  }

  .textdiv {
	  font-size: 10px;
	  padding: 4px;
	  cursor: pointer;
	  overflow:none;
  }
  .textdiv .title {
	  font-weight: bold;
	  color: #ffffff;
	  margin-top: 8px;
	  font-size:9px !important;
  }
  .textdiv p{
	  line-height: 9px;
	  color: #ffffff;
	  margin:0 0 1px !important;
	  padding:0px;
	  font-size:8px !important;
  }

  .idp-ret-map .legendTitle{
	font-size: 13px;
  }

.idp-ret-map .map-source{
	color: #cccccc !important;
  }

  .idp-ret-map text.label {
	font-family: lato;
	font-size: 12px;
	fill: #666666;
}

.idp-ret-map .bubble-legend-text{
	font-family: lato;
	font-size: 12px;
	fill: #666666;
}

/* mapbox-scrolly */
#map {
	top:0;
	position: sticky;
	z-index: -5;
	height: 100vh;
  }
  #features {
	padding-bottom: 10vh;
	padding-top: 10vh;
  }
  .hidden {
	visibility: hidden;
  }
  .centered {
	width: 50vw;
	margin: 0 auto;
  }
  .lefty {
	width: 33vw;
	margin-left: 5vw;
  }
  .righty {
	width: 33vw;
	margin-left: 62vw;
  }
  .fully {
	width: 100%;
	margin: auto;
  }
  .light {
	color: #444;
	background-color: #fafafa;
  }
  .dark {
	color: #fafafa;
	background-color: #444;
  }
  #features .mapstep {
	padding-bottom: 50vh;
	margin-bottom: 10vh;
	opacity: 0.9;
  }
  #features .mapstep h3 {
	  color: black;
  }
  #features .mapstep.active p {
	  opacity: 1;
  }
  #features  .mapstep div {
	padding:  25px 30px;
	line-height: 25px;
	font-size: 16px;
  }
  #features  .mapstep img {
	width: 100%;
  }
  @media (max-width: 992px) {
	.centered, .lefty, .righty, .fully {
		width: 90vw;
		margin: 0 auto;
	}
  }
  /* Fix issue on mobile browser where scroll breaks  */
  .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
  .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
	touch-action: unset;
  }

  .story-paragraph {
	  margin-top: 10px; 
  }


