.wrapper {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}


#cari-map text.label {
	font-family: lato;
	font-size: 8px;
	fill: #666666;
}

#cari-map text.legendTitle{
	font-family: lato;
	font-size: 9px;
	font-weight: 700;
	fill: #333333;

}

.solid{
	stroke:white;
	stroke-width:0.2;
}
.dashed{
	stroke:white;
	stroke-width:0.3;
	stroke-dasharray:1, 1
}
.dotted{
	stroke:white;
	stroke-width:0.2;
	stroke-dasharray:0.2, 0.5
}
.dashed-dot{
	stroke:white;
	stroke-width:0.2;
	stroke-dasharray:1, 0.5, 0.2, 0.5
}

.grid path {
	stroke-width: 0;
	stroke: #333333;
  }
  .grid .tick line {
	stroke: #333333;
	stroke-width: 0.5px;
	stroke-opacity: 0.5;
  }
