.wrapper {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

text {
	font-family: lato;
	font-size: 9px;
	fill: #666666;
}

.solid{
	stroke:white;
	stroke-width:0.2;
}
.dashed{
	stroke:white;
	stroke-width:0.3;
	stroke-dasharray:1, 1
}
.dotted{
	stroke:white;
	stroke-width:0.2;
	stroke-dasharray:0.2, 0.5
}
.dashed-dot{
	stroke:white;
	stroke-width:0.2;
	stroke-dasharray:1, 0.5, 0.2, 0.5
}
